extends layout 

block content 
    .w3-card4 
        header.w3-container.w3-purple
            h2= titulo 
        .w3-container
            form.w3-container(method="POST" action="/periodos/registo")
                fieldset 
                    legend Metadata 
                    label Id 
                    input.w3-input.w3-round(type="text" name="_id")
                button.w3-btn.w3-purple.w3-mb-2(type="submite") Register
    footer.w3-container.w3-pink 
      address Gerado por EngWeb2024 em #{data}